<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="never">
    <title>首页</title>
    <link rel="stylesheet" href="../css/me.css">
    <!-- Stylesheets -->
    <link href="../css/new/style.css" rel="stylesheet">
    <link href="../css/new/responsive.css" rel="stylesheet">
    <link rel="icon" href="../images/bigLOGO.ico" type="image/x-icon">
</head>
<!-- page wrapper -->
<body class="boxed_wrapper">
<!-- 顶部 -->
<header class="main-header">
    <nav th:replace="_fragments :: menu(6)">
        <div class="header-bottom">
            <div class="container">
                <div class="clearfix">
                    <div class="logo-box pull-left">
                        <figure class="logo">
                            <a href="index.html">
                                 <img src="../images/logo.png" style="width: 175px;height: 63px" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="nav-outer pull-right clearfix">
                        <div class="menu-area">
                            <nav class="main-menu navbar-expand-lg">
                                <!-- 向下滑弹出-->
                                <div class="navbar-header">
                                    <!-- Toggle Button -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                            data-target=".navbar-collapse">
                                        <!--                  <span class="icon-bar"></span>-->
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="dropdown"><a href="#"  class="current m-item item m-mobile-hide">首页</a></li>
                                        <li class="dropdown"><a href="#"  class="m-item item m-mobile-hide">自然</a></li>
                                        <li class="dropdown"><a href="#"  class="m-item item m-mobile-hide">领域</a></li>
                                        <li class="dropdown"><a href="#"  class="m-item item m-mobile-hide">地域</a></li>
                                        <li class="dropdown"><a href="#"  class="m-item item m-mobile-hide">自然时记</a></li>
                                        <li class="dropdown"><a href="#"  class="m-item item m-mobile-hide">加入我们</a></li>
                                    </ul>
                                    <div class="right m-item item m-mobile-hide">
                                        <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                                            <div class="ui icon inverted transparent input m-margin-tb-tiny">
                                                <input type="text" name="query" placeholder="搜索...." th:value="${query}">
                                                <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                                            </div>
                                        </form>
                                    </div>
                                    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">-->
                                        <i class="sidebar icon"></i>
                                    </a>
                                </div>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- search-box-layout -->
    <div class="wraper_flyout_search">
        <div class="table">
            <div class="table-cell">
                <div class="flyout-search-layer"></div>
                <div class="flyout-search-layer"></div>
                <div class="flyout-search-layer"></div>
                <div class="flyout-search-close">
                    <span class="flyout-search-close-line"></span>
                    <span class="flyout-search-close-line"></span>
                </div>
                <div class="flyout_search">
                    <div class="flyout-search-title">
                        <h4>Search</h4>
                    </div>
                    <div class="flyout-search-bar">
                        <form role="search" method="get" action="#">
                            <div class="form-row">
                                <input type="search" placeholder="搜索文章" value="" name="s" required="">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- search-box-layout end -->


    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="container clearfix">
            <figure class="logo-box"><a href="index.html"><img src="../images/logo.png" alt="" style="width: 90px;height: 40px"></a></figure>
            <div class="menu-area">
                <nav class="main-menu navbar-expand-lg">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current dropdown"><a href="#" th:href="@{/}" class="m-item item m-mobile-hide" th:classappend="${n==6} ? 'active'">首页</a></li>
                            <li class="dropdown"><a href="#" th:href="@{/index}" class="m-item item m-mobile-hide " th:classappend="${n==1} ? 'active'">自然</a></li>
                            <li class="dropdown"><a href="#" th:href="@{/types/-1}" class="m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'">领域</a></li>
                            <li class="dropdown"><a href="#" th:href="@{/tags/-1}" class="m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'">地域</a></li>
                            <li class="dropdown"><a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide" th:classappend="${n==4} ? 'active'">自然时记</a></li>
                            <li class="dropdown"><a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" th:classappend="${n==4} ? 'active'">加入我们</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div><!-- sticky-header end -->
</header>
<!-- End Main Header -->


<!--Page Title-->
<section class="page-title centred" style="background-image: url(../images/page-title.jpg);">
    <div class="container">
        <div class="content-box">
            <h1>珍爱大自然，我们共同的责任</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">守护绿色，传递正能量</a></li>

            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->


<!-- about-section -->
<section class="about-section style-two">
    <div class="anim-icon">
        <div class="icon icon-1 float-bob-x"></div>
        <div class="icon icon-3"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content-box">
                    <div class="sec-title style-two">
                        <h1>欢迎来到保护大自然网站！</h1>
                    </div>
                    <div class="bold-text">这里是一个专注于分享和保护大自然美景与生态的平台
                    </div>
                    <div class="text">
                        <p>网站会定期发布关于大自然保护的文章，带您领略不同地域的自然奇观，了解保护大自然的重要性。让我们携手努力，共同守护这个美丽的地球家园！</p>
                    </div>
                    <div class="btn-box"><a href="index.html" class="theme-btn">去了解自然文章</a></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <figure class="image image-1"><img src="images/222.png" style="width: 350px;height: 350px" alt=""></figure>
                    <figure class="image image-2"><img src="images/bigLOGO.png" style="width: 350px;height: 350px" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
</footer>

<button class="scroll-top scroll-to-target" data-target="html">
    <i class="fa fa-arrow-up">Top</i>
</button>


<!-- jequery plugins -->
<script src="../js/jquery.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

<script src="../js/owl.js"></script>
<script src="../js/wow.js"></script>
<script src="../js/validation.js"></script>
<script src="../js/jquery.fancybox.js"></script>
<script src="../js/appear.js"></script>
<script src="../js/parallax.min.js"></script>
<script src="../js/script.js"></script>

</body>
</html>
